nav {
    width: 100%;
    color: white;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100px;
    font-size: larger;
}

nav ul li {
    display: inline;
    list-style: none;
    margin: 5px 20px; /*top and bottom left and right */
}

.button {
    margin: auto;
    background-color: white;
    border: none;
    outline: 0;
    border-radius: 20px;
    padding: 10px 20px;  /*left and right */
    cursor: pointer;
    color: black;
}

.university {
    object-fit: cover;
    height: 100px;

}

.navchange {
    background-color: navy;
    transition: 0.5ms;
}


@media (max-width:100px){
    
}