* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

a{
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

@media(max-width:1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}